version: 2
jobs:
  build:
    machine: true
    working_directory: ~/repo
    environment:
      - TF_VERS: "0.11.10"
      - TF_ARCH: "linux_amd64"
      - TF_REPO: "https://releases.hashicorp.com/terraform"
    steps:
      - checkout
      - run:
          working_directory: ~/repo/demo3
          name: Install Terraform
          command: |
            wget ${TF_REPO}/${TF_VERS}/terraform_${TF_VERS}_${TF_ARCH}.zip
            unzip terraform_${TF_VERS}_${TF_ARCH}.zip
      - run:
          working_directory: ~/repo/demo3
          name: Run Terraform
          command: |
            ./terraform init && ./terraform plan && ./terraform apply -auto-approve
